<h1>Query String Verbs</h1>
Two Examples Below:
<ul>
	<li>Scaffolding modified: <%= link_to 'Locations Example', locations_path %> </li>
	<li>Slightly more custom: <%= link_to 'Users Example', users_path %> </li>
</ul>

<p>Check out <a href="https://github.com/railsdemo/query-string-verbs">github repo</a>.  The readme has more information.</p>